numpy
pandas
python-dotenv
pydantic
loguru
ta
pandas-ta
scikit-learn
xgboost
lightgbm
binance-futures-connector
websockets
pytest

apscheduler==3.10.4
pandas
numpy
python-dotenv
ccxt
